@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #000000;
  --primary-light: #404040;
  background: #7D9BE2;
}

@layer base {
  button {
    @apply px-8 py-4 mr-5 border rounded-full  text-black;
  }
  li {
    @apply p-4 text-sm font-bold hover:underline;
  }
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 1000;
  font-style: normal;
}

.mystery-quest-header {
  font-family: "Mystery Quest", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}

.mystery-quest-modal {
  font-family: "Mystery Quest", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

.bubblegum-sans-subheader {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
  word-spacing: 3px;
}

.bubblegum-sans-link {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 50;
  font-size: 17px;
  word-spacing: 3px;
}

.btn.outline-button {
  border-color: #FB9060;
  color: black;
  background-color: transparent;
  border: 2px solid #FB9060;
}